.router-fade-enter-active, .router-fade-leave-active {
  transition: opacity .3s;
}

.router-fade-enter, .router-fade-leave-active {
  opacity: 0;
}

.large-text{
  font-size: 0.6rem;
}
.middle-text{
  font-size: 0.3rem;
}
